/**
 * Contents Less file
 * */

.content-box {
  &.no-padding-left > * {
    margin-left: 0;
  }
}

.asso-box {
  position: relative;
  padding-right: 10.2rem;

  &::after {
    position: absolute;
      top: 0; right: 3.3rem;
    height: ~"calc(100% - 2rem)";
    margin: 1rem 0;
    width: 0;
    content: "";
    border-right: 1px dotted @base-light-gray;

    // @TODO remplacer la border-right par l'asset de la maquette
  }

  & svg {
    float: left;
    height: 9rem;
    padding: .5rem 1rem .5rem 0;
    width: 7rem;
    fill: @primary-color;
  }
}
