/**
 * Contents Less file
 * */

.content-box {
  &.no-padding-left > * {
    margin-left: 0;
  }
}

.asso-box {
  & svg {
    float: left;
    height: 9rem;
    padding: .5rem 1rem .5rem 0;
    width: 7rem;
    fill: @primary-color;
  }
}
