/**
 * Contents Less file
 * */

.content-box {
  &.no-padding-left > * {
    margin-left: 0;
  }

  &.no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.border-left {
  position: relative;
  padding-right: 8rem;

  &::after {
    position: absolute;
      top: 0; right: 5rem;
    height: ~"calc(100% - 2rem)";
    margin: @small-value 0;
    width: 0;
    content: "";
    border-right: .2rem dotted @base-light-gray;
  }
}

.asso-box {
  & .asso-title {
    .h2-like;
  }

  & svg {
    float: left;
    height: @extra-large-value;
    padding: @tiny-value @small-value @tiny-value 0;
    width: @extra-large-value - @medium-value;
    fill: @primary-color;
  }

  & .btn {
    margin-top: @large-value + @small-value;
  }
}


//
// Coworkers box

.coworkers-box {
  flex: 1 0 auto;

  & .coworkers-title {
    .h2-like;
  }

  & .coworkers-list {
    padding-left: 0;
  }

  & .coworkers-element {
    margin-bottom: 0;
    text-align: center;

    &:nth-of-type(-n + 3) {
      margin-bottom: @large-value + @medium-value;
    }

    &:hover .coworkers-element-image {
      &::before {
        top: @medium-value;
        right: @medium-value;
        bottom: @medium-value;
        left: @medium-value;
      }

      & img {
        filter: saturate(100%);
        transform: scale(1.15) translateZ(0);
      }
    }

    &:hover .coworkers-element-image img {
      filter: saturate(100%);
    }
  }

  & .coworkers-element-image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transform: translateZ(0);
    width: 100%;

    &::before {
      position: absolute;
        top: -@medium-value - @tiny-value;
        right: -@medium-value - @tiny-value;
        bottom: -@medium-value - @tiny-value;
        left: -@medium-value - @tiny-value;
      box-sizing: border-box;
      content: "";
      border: @medium-value solid @primary-color;
      border-radius: 50%;
      opacity: .7;
      transition: all @transition;
      z-index: 1;
    }

    & img {
      height: auto;
      width: 100%;
      filter: saturate(0%);
      transition: all @transition;
    }
  }

  & .coworkers-element-name {
    position: relative;
    margin-top: @grid-value;
    font-size: 1.8rem;
    line-height: @line-height;

    &::after {
      display: block;
      height: .3rem;
      margin: 1.3rem auto 1.5rem;
      width: 1.8rem;
      content: "";
      background: @primary-color;
      border-radius: .2rem;
    }
  }

  & .coworkers-element-work {
    font-size: @base-font-size;
    font-style: italic;
    font-weight: 300;
  }
}


//
// Espace box

.espace-box {
  position: relative;
  background: @primary-background;
  border: 0;
  border-radius: @tiny-value;
  margin: @maxi-large-value auto;
  padding: 15rem @extra-large-value;

  &::before {
    display: block;
    position: absolute;
      top: -12.5rem; bottom: -12.5rem;
    width: ~"calc(100% - 15rem)";
    content: "";
    background: url('../img/logo-bkgnd.png') center center no-repeat;
  }

  & .espace-title {
    .h2-like;
    position: absolute;
      top: -12.2rem; left: ~"calc(50% - 17.5rem)";
    color: @base-color;
    font-size: @h3-size;
    line-height: @h2-size;
    text-align: center;
    text-transform: lowercase;

    & svg {
      display: block;
      height: 26rem;
      width: 35rem;
      margin: -5rem auto;
      fill: @primary-color;
    }
  }

  & .espace-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;

    & li {
      display: inline-block;
      position: relative;
      margin-bottom: 1.33em;
      padding-left: 2rem;
      width: 33%;
      font-size: @h4-size;
      line-height: 1.33;

      &:nth-last-of-type(-n+3) {
        margin-bottom: 0;
      }

      &::before {
        display: inline-block;
        position: absolute;
          bottom: 1rem; left: 0;
        box-sizing: border-box;
        height: 1rem;
        width: 1rem;
        content: "";
        background: transparent;
        border: .3rem solid @primary-color;
        border-radius: 50%;
      }
    }
  }
}


//
// Projet box block

.projet-box {
  & .btn {
    margin-top: @grid-value;
  }
}


//
// Entrepot box

.entrepot-box {
  &::after {
    right: 3.75rem;
  }
}


//
// Slider photos

.swiper-container {
  & .swiper-slide {
    & .slide-photographie {
      height: @height-slider;
      width: 100%;
      background-color: @base-color;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    & .slide-title {
      display: block;
      margin-top: @grid-value;
      color: @base-verylight-gray;
      font-size: @h5-size;
      font-style: italic;
      font-weight: 400;
    }
  }
}
