/**
 * Forms Less file
 * */


/** CONTACT FORM BOX **/

.contactform-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  & > li {
    position: relative;
    padding: 3rem 0 0;
    width: 48%;

    &.w100 {
      width: 100%;
    }

    & label {
      position: absolute;
        top: 2.3rem; left: 0; right: 0;
      padding: 0 @small-value;
      color: @base-light-gray;
      font-family: @font-stack-headings;
      font-size: @base-font-size;
      line-height: 3rem;
      transition: all @transition-quick;
      z-index: 1;
    }

    & input,
    & input:invalid {
      padding: 0 @small-value;
      width: 100%;
      border: 0;
      border-bottom: .3rem solid @base-light-gray;
      box-shadow: none;
      font-size: @h5-size;
      line-height: @large-value;
    }

    & input:focus,
    & input:valid {
      border-bottom-color: @primary-color;

      & ~ label {
        top: 0;
        color: @primary-color;
      }
    }

    & input:valid:not(:focus) {
      border-bottom-color: @base-light-gray;

      & ~ label {
        color: @base-light-gray;
      }
    }

    & textarea {
      height: @maxi-large-value;
      padding: @medium-value - @tiny-value @medium-value;
      width: 100%;
      border: .3rem solid @base-light-gray;
      color: @base-light-gray;
      transition: color @transition-quick;

      &:focus {
        color: @base-color;
      }
    }

    & button {
      background: transparent;

      &:hover,
      &:focus {
        background: @primary-color;
      }
    }
  }
}
