@media screen and (max-width: 1297px) { // large screen + offset 17px
    .container {
        width: @medium-screen;
        padding: 0 @large-value;
    }
}

@media screen and (max-width: 1041px) { // medium screen + offset 17px
    .container {
        width: @small-screen;
        padding: 0 @grid-value;        
    }
    .footer-col {
        width: 25%;
    }
    .footer-col-newsletter {
        width: 100%;
    }
}

@media screen and (max-width: 785px) { // small screen + offset 17px
    .container {
        width: @tiny-screen;
        padding: 0 @medium-value;                
    }
    .footer-box .footer-container {
        display: block !important;
    }
    .footer-logo, .footer-content {
        width: 100% !important;
    }
    .footer-content, .footer-col {
        margin-left: 0;
    }
}

@media screen and (max-width: 497px) { // tiny screen + offset 17px
    .container {
        padding: 0 @tiny-value;                
    }
    .footer-box {
        width: 480px;
    }
}